.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
  max-width: 1024px;
  width: 100%;
  position: relative;
  top: calc(var(--spaceL) * -1);

  @media (--mediaDesktop) {
    max-width: 920px;
  }

  @media (--mediaLaptop) {
    max-width: 780px;
  }

  @media (--mediaMobile) {
    top: calc(var(--space3XL) * -1);
  }

  @media (--mediaMobileS) {
    top: calc(var(--spaceXL) * -1);
  }

  @media (max-width: 820px) and (max-height: 420px) {
    top: calc(var(--spaceM) * -1);
  }
}